/* Argon Next - Local Google Fonts */

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('opensans-300.woff2') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('opensans-400.woff2') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('opensans-600.woff2') format('truetype');
}


@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('opensans-700.woff2') format('truetype');
}

/* Noto Serif SC */
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(noto-serif-sc-1.woff2) format('truetype');
}
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(noto-serif-sc-2.woff2) format('truetype');
}

